doctype html
html
  head
    link(href="./css/bootstrap.min.css",rel="stylesheet")
    link(href="/css/result.css",rel="stylesheet")
    script(src="./libs/jquery.min.js")
    script(src="./libs/bootstrap.min.js")
    script(src="./adjustment.js")
    script(src='./libs/angular.min.js')
    
    
  body
    .container
      .row
        .col-md-4
        .col-md-4
          h1  * Result Picture * 
            #core
            img(id= 'result', src='./results/result.jpg', alt='#{result}', style='position:relative;width:300px;height:300px;')
      .row
        .col-md-4
          if pic1
            h5 #{cap1}
            #core
              img(id= 'image1', src='./uploads/#{source1}', alt='#{name1}', style='position:relative;width:300px;height:300px;')
          else
            
            img(src='./default/default.jpg', alt='Default Picture', style='width:300px;height:300px;')
        .col-md-4
          if pic2
            h5 #{cap2}
            #core
              img(id= 'image2', src='./uploads/#{source2}', alt='#{name2}', style='position:relative;width:300px;height:300px;')
          else
            
            img(src='./default/default.jpg', alt='Default Picture', style='width:300px;height:300px;')
        .col-md-4 
          if pic3
            h5 #{cap3}
            #core
              img(id= 'image3', src='./uploads/#{source3}', alt='#{name3}', style='position:relative;width:300px;height:300px;')
          else
            
            img(src='./default/default.jpg', alt='Default Picture', style='width:300px;height:300px;') 
      .row
        form(action='/upload', enctype='multipart/form-data', method='post')
          br
          br
          .col-md-4
            .fileUpload.btn.btn-success
              input(multiple='multiple', name='upload1', type='file')
          .col-md-4
            .fileUpload.btn.btn-success
              input(multiple='multiple', name='upload2', type='file')
          .col-md-4
            .fileUpload.btn.btn-success
              input(multiple='multiple', name='upload3', type='file')
          br
          br
          br
          button.btn.btn-primary(type="submit", class = 'custom') Upload
      
         
