doctype html
html
	head
		link(href="./css/bootstrap.min.css",rel="stylesheet")
		link(href="/css/vex.css",rel="stylesheet")
		script(src="./libs/jquery.min.js")
		script(src="./libs/bootstrap.min.js")
		script(src='./libs/angular.min.js')


	body
		.container
			.row
				.col-md-2
					if pic1
						h1  #{name111}
						#core
							img(id= 'image111', src='./uploads/#{source1}', alt='#{name111}', style='position:relative;width:180px;height:200px;')
					else
						img(src='./default/default.jpg', alt='Default Picture', style='width:200px;height:200px;')
				.col-md-1
					h1 +
				.col-md-2
					if pic2
						h1  #{name222}
						#core
							img(id= 'image222', src='./uploads/#{source2}', alt='#{name222}', style='position:relative;width:180px;height:200px;')
					else
						img(src='./default/default.jpg', alt='Default Picture', style='width:200px;height:200px;')
				.col-md-1			
					h1 -
				.col-md-2
					if pic3
						h1  #{name333}
						#core
							img(id= 'image333', src='./uploads/#{source3}', alt='#{name333}', style='position:relative;width:180px;height:200px;')
					else    
						img(src='./default/default.jpg', alt='Default Picture', style='width:200px;height:200px;') 
				.col-md-1
					h1 =
				.col-md-2
					#core
					img(id= 'result', src='./results/result.jpg', alt='#{result}', style='position:relative;width:180px;height:200px;')
					h3  Result Picture 
